.container-nav {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 0 25%; 
    margin: 40px;
    font-size: 20px;
    margin-bottom: 150px;
}

.container-nav div{
    font-family: monospace;
}

.container-nav nav {
    display: flex;
    justify-content: flex-end;
}

.container-nav nav a {
    color: white;
    margin-right: 50px;
    text-decoration: none;
    padding: 5px 20px; 
    display: inline-block;
}

.container-nav nav a:hover {
    background-color: lightgreen;
    border-radius: 50px;
}

.container-nav nav a.active {
    background-color: lightgreen; 
    border-radius: 50px;
}

.container-nav .logotipo a {
    color: white;
    text-decoration: none;
    padding: 5px 20px;
    display: inline-block;
}
